---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
  <div class="max-w-6xl mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold mb-6">Bienvenidos a Nuestro Restaurante</h1>
    <p class="text-xl mb-8">Disfruta de una experiencia culinaria única en un ambiente acogedor.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div>
        <img src="/plato1.jpeg" alt="Interior del restaurante" class="rounded-lg shadow-md">
      </div>
      <div>
        <h2 class="text-2xl font-semibold mb-4">Nuestra Especialidad</h2>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="/dishes" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition duration-300">Ver Menú</a>
      </div>
    </div>
  </div>
</Layout>